.gradle
build/
.idea
*.iml
local.properties
*.asc
*.gpg
*.key
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Android
*.ap_
*.dex
*.class
bin/
gen/
out/

# iOS
*.swp
*.lock
profile
derivedData
build
iosApp/DerivedData
iosApp/*.xcworkspace/xcuserdata
iosApp/*.xcodeproj/xcuserdata
iosApp/*.xcodeproj/project.xcworkspace/xcuserdata
iosApp/Build/
iosApp/Index/
SCRIPT
